server {

    server_name  raffle-server.amsterdamphp.nl;
    listen [::]:443 ssl ipv6only=on;
    listen 443 ssl;

    root  /var/www/raffle-server/current;

    ssl_certificate /etc/letsencrypt/live/raffles.amsterdamphp.nl/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/raffles.amsterdamphp.nl/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot

    error_log  /var/log/nginx/error_raffler-server.log warn;

    location / {
        proxy_pass  http://127.0.0.1:8085;
        proxy_http_version  1.1;
        proxy_set_header  Upgrade $http_upgrade;
        proxy_set_header  Connection "upgrade";
        proxy_read_timeout  86400;
    }
}

server {
    if ($host = raffle-server.amsterdamphp.nl) {
        return 301 https://$host$request_uri;
    }

	listen 80 ;
	listen [::]:80 ;
    server_name raffle-server.amsterdamphp.nl;
    return 404;
}
